@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --white: hsl(0, 0%, 100%);
    --light-gray: hsl(212, 45%, 89%);
    --grayish-blue: hsl(220, 15%, 55%);
    --dark-blue: hsl(218, 44%, 22%);
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    color: var(--grayish-blue);
    background-color: var(--light-gray);
    margin: 1.25rem;
    height: calc(100vh - 1px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.qr-card {
    padding: 7px;
    padding-bottom: 35px;
    margin-bottom: 35px;
    background-color: var(--white);
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, .15);
}

.qr-card img {
    max-width: 100%;
    margin: 10px;
    border-radius: 15px;
}

.qr-info {
    padding: 20px;
}

.qr-info h1 {
    font-size: 24px;
    color: var(--dark-blue);
    margin: 15px 0px;
}

.qr-info p {
    font-size: 16px;
}

.attribution {
    font-size: 12px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

@media (min-width: 450px) {
    .qr-card {
        width: 325px;
    }
}